Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2019-10, with the labels that each got.

#56 Add VS Code Configuration
  .devcontainer/devcontainer.json
  .pylintrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docker-compose.vscode.yml
  netkan/Dockerfile
  netkan/setup.py
Labels: enhancement

#48 Flask webhooks
  .gitignore
  .pylintrc
  bin/push_deploy_legacy.sh
  docker-compose.yml
  netkan/netkan/metadata.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/common.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/github_utils.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_inflate.py
  netkan/setup.py
  netkan/tests/metadata.py
  nginx/nginx-dev.conf
  nginx/nginx.conf
  prod-stack.py
  webhooks/.gitconfig
  webhooks/Dockerfile
  webhooks/run.sh
Labels: enhancement, help wanted

#64 Force JSON parse of SD request
  netkan/netkan/webhooks/inflate.py
Labels: Bug, Webhooks

#65 Pull NetKAN before use in webhooks
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_inflate.py
Labels: Bug, Webhooks, good first issue

#67 Don't try to extract kref pieces if there's no kref
  netkan/netkan/metadata.py
  netkan/netkan/scheduler.py
  netkan/tests/metadata.py
Labels: Bug, Scheduler

#68 Discord notifications
  docker-compose.vscode.yml
  docker-compose.yml
  netkan/netkan/cli.py
  netkan/netkan/indexer.py
  netkan/netkan/notifications.py
  netkan/netkan/webhooks/__init__.py
  netkan/setup.py
  prod-stack.py
Labels: Enhancement, Indexer, Scheduler, Status, Webhooks

#69 More descriptive log entries for JSONDecodeErrors
  netkan/netkan/download_counter.py
Labels: Download counts, Enhancement

#73 Fix error message comparison again
  netkan/netkan/indexer.py
Labels: Bug, Indexer, Status

#74 Report uncaught exceptions to Discord
  netkan/netkan/cli.py
  netkan/netkan/notifications.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/errors.py
Labels: Download counts, Enhancement, Indexer, Inflator, Scheduler, Webhooks

#75 Add missing import
  netkan/netkan/cli.py
Labels: Bug
