Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2019-12, with the labels that each got.

#107 Revert unintentional restoration of debug param to download counter
  netkan/netkan/cli.py
Labels: Bug, Download counts, good first issue

#108 Pull both repos before handling webhooks
  netkan/netkan/common.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_inflate.py
Labels: Bug, Webhooks

#76 Fix development environment
  README.md
  docker-compose.yml
  netkan/netkan/utils.py
  netkan/setup.py
  netkan/tests/__init__.py
  netkan/tests/cli.py
  netkan/tests/download_counter.py
  netkan/tests/testdata/NetKAN/NetKAN/UnknownCoinFlag.netkan
Labels: Bug, Environment, Tests

#114 Set up Discord notifications earlier in Webhooks
  netkan/netkan/webhooks/__init__.py
Labels: Bug, Webhooks
