Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2019-11, with the labels that each got.

#70 Copy resources to status objects
  netkan/netkan/indexer.py
  netkan/netkan/status.py
Labels: Enhancement, Inflator, Status

#77 Put long Discord messages in code blocks
  .travis.yml
  bin/push_deploy_containers.sh
  netkan/netkan/notifications.py
  netkan/setup.py
Labels: Enhancement

#81 Stop deduplicating non-duplicate queue messages
  netkan/netkan/metadata.py
Labels: Bug, Webhooks

#79 Schedule inflation of webhook-only mods once a day
  netkan/netkan/cli.py
  netkan/netkan/common.py
  netkan/netkan/scheduler.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_inflate.py
  prod-stack.py
Labels: Enhancement, In Progress, Scheduler

#82 Always schedule the webhook pass
  netkan/netkan/scheduler.py
  prod-stack.py
Labels: Bug, Scheduler

#87 Close idle support tickets
  netkan/netkan/cli.py
  netkan/netkan/github_pr.py
  netkan/netkan/ticket_closer.py
  netkan/setup.py
  prod-stack.py
Labels: Enhancement

#89 Don't inflate frozen modules in GitHub webhook
  netkan/netkan/webhooks/github_inflate.py
Labels: Bug, Webhooks

#91 Push master before staged branches
  netkan/netkan/indexer.py
Labels: Bug, Indexer

#93 Schedule modules in alphabetical order
  netkan/netkan/scheduler.py
Labels: Enhancement, Scheduler

#94 Make Scheduler sorting case insensitive
  netkan/netkan/scheduler.py
Labels: Bug, Scheduler, good first issue

#95 Validate filenames correctly in GitHub webhook
  netkan/netkan/webhooks/github_inflate.py
Labels: Bug, Webhooks, good first issue

#97 Add recover-status-timestamps command
  netkan/netkan/cli.py
  netkan/netkan/status.py
Labels: Enhancement, Status

#98 Ignore webhook requests for non-master branch
  netkan/netkan/webhooks/github_inflate.py
Labels: Bug, Webhooks

#99 Timestamp recovery logging, timezones, required param
  netkan/netkan/cli.py
  netkan/netkan/status.py
Labels: Status

#96 Automatically freeze modules after 3 years without updates
  netkan/netkan/auto_freezer.py
  netkan/netkan/cli.py
  netkan/netkan/indexer.py
  netkan/netkan/status.py
  prod-stack.py
Labels: Enhancement, Help wanted

#101 Port version comparison logic from CKAN-core to metadata.py
  netkan/netkan/metadata.py
  netkan/tests/metadata.py
Labels: Enhancement, Inflator, Tests

#103 Lazy-load Ckan.version
  netkan/netkan/metadata.py
  netkan/tests/metadata.py
Labels: Bug, Indexer, Tests

#102 Send HighestVersion attribute to Inflator
  docker-compose.yml
  netkan/netkan/cli.py
  netkan/netkan/metadata.py
  netkan/netkan/scheduler.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_inflate.py
  netkan/tests/metadata.py
  netkan/tests/testdata/CKAN-meta/AdequateMod/AdequateMod-1-0.1.ckan
  netkan/tests/testdata/CKAN-meta/AdequateMod/AdequateMod-1-0.2.ckan
  netkan/tests/testdata/CKAN-meta/AdequateMod/AdequateMod-1.0.ckan
  netkan/tests/testdata/CKAN-meta/AdequateMod/AdequateMod-1.1.ckan
  netkan/tests/testdata/CKAN-meta/AmazingMod/AmazingMod-1.2.ckan
  netkan/tests/testdata/CKAN-meta/AmazingMod/AmazingMod-1.3.ckan
  netkan/tests/testdata/CKAN-meta/AmazingMod/AmazingMod-v1.0.ckan
  netkan/tests/testdata/CKAN-meta/AmazingMod/AmazingMod-v1.1.ckan
  netkan/tests/testdata/CKAN-meta/AwesomeMod/AwesomeMod-0.10.ckan
  netkan/tests/testdata/CKAN-meta/AwesomeMod/AwesomeMod-0.11.ckan
  netkan/tests/testdata/CKAN-meta/AwesomeMod/AwesomeMod-0.8.ckan
  netkan/tests/testdata/CKAN-meta/AwesomeMod/AwesomeMod-0.9.ckan
  prod-stack.py
Labels: Enhancement, Scheduler, Webhooks

#104 Fix exceptions, mark required options as required
  netkan/netkan/cli.py
  netkan/netkan/metadata.py
  prod-stack.py
Labels: Bug, Scheduler, Webhooks

#105 Allow gunicorns after 20.0.0
  netkan/setup.py
Labels: Bug, Webhooks

#106 Inflate mods with no previous versions
  netkan/netkan/metadata.py
Labels: Bug, Webhooks
