Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2020-02, with the labels that each got.

#122 CLI Refactor
  netkan/netkan/cli.py
  netkan/netkan/cli/__init__.py
  netkan/netkan/cli/common.py
  netkan/netkan/cli/services.py
  netkan/netkan/cli/utilities.py
Labels: Enhancement

#136 Archive source code
  netkan/netkan/metadata.py
  netkan/netkan/mirrorer.py
  netkan/tests/mirrorer.py
Labels: Enhancement, Mirrorer

#140 Limit batch IDs to 80 chars
  netkan/netkan/metadata.py
  netkan/netkan/webhooks/github_mirror.py
Labels: Bug, Webhooks

#141 Fix cache hashes
  netkan/netkan/metadata.py
  netkan/tests/metadata.py
Labels: Bug, Mirrorer

#143 Eliminate push and pull with no commits
  netkan/netkan/indexer.py
Labels: Enhancement, Indexer

#144 Only mirror on master branch
  netkan/netkan/webhooks/github_mirror.py
Labels: Bug, Mirrorer

#145 Fix 'percentage' typo in scheduler notification message
  netkan/netkan/scheduler.py
Labels: Scheduler

#146 Fix branch check
  netkan/netkan/webhooks/github_mirror.py
Labels: Bug, Mirrorer, Webhooks, good first issue

#149 Don't mount cache for Indexer
  prod-stack.py
Labels: Indexer, good first issue

#150 Default Shallow Clones
  netkan/netkan/cli/common.py
  netkan/netkan/utils.py
Labels: Indexer

#152 Fix AttributeError in Mirrorer for ckans without download_content_type
  netkan/netkan/mirrorer.py
Labels: Bug, Mirrorer

#153 Schedule backports
  netkan/netkan/scheduler.py
Labels: Enhancement, Scheduler

#154 Generate random unique batch ids
  netkan/netkan/metadata.py
  netkan/tests/metadata.py
Labels: Bug, Scheduler
