Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2020-01, with the labels that each got.

#61 SpaceDock add pull request webhook
  dev-stack.py
  docker-compose.yml
  netkan/netkan/cli.py
  netkan/netkan/pr_body_template.txt
  netkan/netkan/spacedock_adder.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/spacedock_add.py
  netkan/setup.py
  prod-stack.py
Labels: Enhancement, Webhooks

#116 Change absolute pathes to cache and .ssh to relative ones
  netkan/netkan/cli.py
  netkan/netkan/utils.py
  netkan/netkan/webhooks/__init__.py
  netkan/tests/cli.py
Labels: Bug, Tests

#124 Break up long Discord messages
  netkan/netkan/notifications.py
Labels: Bug

#59 Mirroring webhook
  bin/push_deploy_containers.sh
  dev-stack.py
  docker-compose.yml
  netkan/netkan/cli.py
  netkan/netkan/common.py
  netkan/netkan/metadata.py
  netkan/netkan/mirrorer.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/github_mirror.py
  netkan/tests/__init__.py
  netkan/tests/mirrorer.py
  prod-stack.py
Labels: Enhancement, Webhooks

#127 Cast header values to string
  netkan/netkan/mirrorer.py
Labels: Bug

#130 Fix SpaceDock API format and docs
  netkan/netkan/webhooks/spacedock_add.py
  netkan/netkan/webhooks/spacedock_inflate.py
Labels: Bug, Documentation, Webhooks

#129 Fix mirror filenames and epochs
  netkan/netkan/cli.py
  netkan/netkan/mirrorer.py
Labels: Bug

#132 Check SHA1 of mirrored files
  netkan/netkan/mirrorer.py
Labels: Bug

#134 Add missing deletion message code in adder
  netkan/netkan/spacedock_adder.py
Labels: Bug

#135 Fix scheduler tests
  netkan/tests/__init__.py
  netkan/tests/cli.py
  netkan/tests/download_counter.py
  netkan/tests/metadata.py
  netkan/tests/mirrorer.py
  netkan/tests/scheduler.py
  netkan/tests/testdata/NetKAN/CurseCoinFlag.netkan
  netkan/tests/testdata/NetKAN/DockCoinFlag.netkan
  netkan/tests/testdata/NetKAN/DogeCoinFlag.netkan
  netkan/tests/testdata/NetKAN/FlagCoinDoge.netkan
  netkan/tests/testdata/NetKAN/FlagDogeCoin.netkan
  netkan/tests/testdata/NetKAN/NetkanCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NotCoinDoge.netkan
  netkan/tests/testdata/NetKAN/NotDogeCoin.netkan
  netkan/tests/testdata/NetKAN/NotDogeCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NotDogeFlagCoin.netkan
  netkan/tests/testdata/NetKAN/UnknownCoinFlag.netkan
  netkan/tests/testdata/NetKAN/VrefCoinFlag.netkan
  netkan/tests/testdata/NetKAN/YetAnotherDogeCoinFlag.netkan
Labels: Bug, Tests
