Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2020-05, with the labels that each got.

#161 Fix dict accesses in spacedock_adder
  netkan/netkan/spacedock_adder.py
Labels: Bug, SpaceDock Adder

#163 Fix more dict accesses in the Adder
  netkan/netkan/spacedock_adder.py
Labels: Bug, SpaceDock Adder

#164 Ignore branch fetching exceptions in Adder
  netkan/netkan/spacedock_adder.py
Labels: Bug, SpaceDock Adder

#165 Replace absent template keys with empty string
  netkan/netkan/spacedock_adder.py
Labels: SpaceDock Adder

#167 Create netkan after switching to branch
  netkan/netkan/spacedock_adder.py
Labels: Bug, SpaceDock Adder

#168 Notify on SpaceDock deletion
  netkan/netkan/webhooks/spacedock_inflate.py
Labels: Enhancement, Webhooks

#169 Catch download counter network exceptions
  netkan/netkan/download_counter.py
Labels: Bug, Download counts

#166 Store Netkan warnings to status db
  netkan/netkan/indexer.py
  netkan/netkan/status.py
Labels: Enhancement, In Progress, Indexer, Status

#170 Stop sending 'None' warnings to Discord
  netkan/netkan/indexer.py
Labels: Bug, Indexer, good first issue

#171 Run webhooks-only pass more often
  netkan/netkan/cli/services.py
  netkan/netkan/scheduler.py
  prod-stack.py
Labels: Enhancement, Scheduler

#172 Encapsulate repo structure assumptions
  netkan/netkan/auto_freezer.py
  netkan/netkan/cli/common.py
  netkan/netkan/cli/services.py
  netkan/netkan/cli/utilities.py
  netkan/netkan/common.py
  netkan/netkan/download_counter.py
  netkan/netkan/indexer.py
  netkan/netkan/metadata.py
  netkan/netkan/mirrorer.py
  netkan/netkan/repos.py
  netkan/netkan/scheduler.py
  netkan/netkan/spacedock_adder.py
  netkan/netkan/status.py
  netkan/netkan/utils.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/github_mirror.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_inflate.py
  netkan/tests/cli.py
  netkan/tests/download_counter.py
  netkan/tests/indexer.py
  netkan/tests/metadata.py
  netkan/tests/scheduler.py
  netkan/tests/testdata/NetKAN/NetKAN/CurseCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NetKAN/DockCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NetKAN/DogeCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NetKAN/FlagCoinDoge.netkan
  netkan/tests/testdata/NetKAN/NetKAN/FlagDogeCoin.netkan
  netkan/tests/testdata/NetKAN/NetKAN/NetkanCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NetKAN/NotCoinDoge.netkan
  netkan/tests/testdata/NetKAN/NetKAN/NotDogeCoin.netkan
  netkan/tests/testdata/NetKAN/NetKAN/NotDogeCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NetKAN/NotDogeFlagCoin.netkan
  netkan/tests/testdata/NetKAN/NetKAN/UnknownCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NetKAN/VrefCoinFlag.netkan
  netkan/tests/testdata/NetKAN/NetKAN/YetAnotherDogeCoinFlag.netkan
Labels: Download counts, Enhancement, Indexer, Mirrorer, Scheduler, SpaceDock Adder, Tests, Webhooks

#176 Send Discord notification when SD mods get (un)locked
  netkan/netkan/webhooks/spacedock_inflate.py
Labels: Enhancement, Webhooks
