Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2020-06, with the labels that each got.

#173 Type hints and checking in CI
  .gitignore
  .vscode/settings.json
  netkan/Dockerfile
  netkan/mypy.ini
  netkan/netkan/auto_freezer.py
  netkan/netkan/cli/__init__.py
  netkan/netkan/cli/common.py
  netkan/netkan/cli/services.py
  netkan/netkan/cli/utilities.py
  netkan/netkan/common.py
  netkan/netkan/download_counter.py
  netkan/netkan/github_pr.py
  netkan/netkan/indexer.py
  netkan/netkan/metadata.py
  netkan/netkan/mirror_description_template.jinja2
  netkan/netkan/mirrorer.py
  netkan/netkan/notifications.py
  netkan/netkan/repos.py
  netkan/netkan/scheduler.py
  netkan/netkan/spacedock_adder.py
  netkan/netkan/status.py
  netkan/netkan/ticket_closer.py
  netkan/netkan/utils.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/errors.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/github_mirror.py
  netkan/netkan/webhooks/github_utils.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_add.py
  netkan/netkan/webhooks/spacedock_inflate.py
  netkan/setup.py
  netkan/tests/metadata.py
  netkan/tests/mirrorer.py
  netkan/tests/scheduler.py
  prod-stack.py
Labels: Enhancement, Environment, Mirrorer

#181 Fix NetKAN hook freezer
  netkan/netkan/webhooks/github_inflate.py
Labels: Bug, Enhancement, Status, Webhooks

#182 Stop abusing current_app.config in webhooks
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/config.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/github_mirror.py
  netkan/netkan/webhooks/github_utils.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_add.py
  netkan/netkan/webhooks/spacedock_inflate.py
Labels: Enhancement, Webhooks

#183 Set up SSH key before cloning repos in webhooks
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/config.py
Labels: Bug, Webhooks

#185 Fun with GraphQL (download counts)
  netkan/netkan/download_counter.py
  netkan/netkan/downloads_query.graphql
  netkan/setup.py
Labels: Download counts, Enhancement

#189 Skip msg deletion if none succeed, print mirroring errors to Discord
  netkan/netkan/mirrorer.py
Labels: Bug, Mirrorer

#190 Print more info about mismatched hashes
  netkan/netkan/mirrorer.py
Labels: Mirrorer

#191 Limit cache search to ZIP files
  netkan/netkan/metadata.py
Labels: Bug, Mirrorer

#188 Add GitHub Token Checks
  netkan/netkan/cli/common.py
  netkan/netkan/cli/services.py
  netkan/netkan/common.py
  netkan/netkan/scheduler.py
  netkan/tests/scheduler.py
  prod-stack.py
Labels: Scheduler

#192 Update documentation: Adder, Mirrorer, TicketCloser, AutoFreezer
  README.md
Labels: Documentation, Mirrorer, SpaceDock Adder, Webhooks

#194 Purge and replace cached downloads in Mirrorer
  netkan/netkan/mirrorer.py
Labels: Bug, Mirrorer

#175 Check release date in AutoFreezer
  netkan/netkan/auto_freezer.py
  netkan/netkan/indexer.py
  netkan/netkan/metadata.py
  netkan/netkan/status.py
Labels: Enhancement, In Progress, Indexer, Status
