Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2022-04, with the labels that each got.

#263 Ignore craft files in zip root in ModAnalyzer install stanza detection
  netkan/netkan/mod_analyzer.py
  netkan/netkan/spacedock_adder.py
Labels: Bug, SpaceDock Adder

#265 Catch missing file exceptions in Mirrorer
  .gitignore
  netkan/netkan/mirrorer.py
Labels: Bug, Mirrorer

#266 Delete cached downloads when a mod is frozen
  netkan/netkan/webhooks/github_inflate.py
Labels: Enhancement, Webhooks

#267 Trigger CKAN repo deploy workflow on deploy
  .github/workflows/deploy.yml
Labels: Enhancement
