Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2023-04, with the labels that each got.

#283 Refactor Game Management
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/coverage.yml
  .gitignore
  dev-stack.py
  docker-compose.yml
  netkan/.coveragerc
  netkan/netkan/cli/common.py
  netkan/netkan/cli/services.py
  netkan/netkan/cli/utilities.py
  netkan/netkan/common.py
  netkan/netkan/github_pr.py
  netkan/netkan/indexer.py
  netkan/netkan/metadata.py
  netkan/netkan/mirrorer.py
  netkan/netkan/queue_handler.py
  netkan/netkan/repos.py
  netkan/netkan/scheduler.py
  netkan/netkan/spacedock_adder.py
  netkan/netkan/webhooks/__init__.py
  netkan/netkan/webhooks/config.py
  netkan/netkan/webhooks/github_inflate.py
  netkan/netkan/webhooks/github_mirror.py
  netkan/netkan/webhooks/inflate.py
  netkan/netkan/webhooks/spacedock_add.py
  netkan/netkan/webhooks/spacedock_inflate.py
  netkan/pytest.ini
  netkan/setup.py
  netkan/tests/__init__.py
  netkan/tests/cli.py
  netkan/tests/common.py
  netkan/tests/indexer.py
  netkan/tests/metadata.py
  netkan/tests/scheduler.py
  netkan/tests/spacedock_adder.py
  netkan/tests/testdata/DogeCoinFlag.netkan
  netkan/tests/webhooks.py
  nginx/nginx-dev.conf
  nginx/nginx.conf
  prod-stack.py
Labels: Enhancement, Webhooks, Indexer, Scheduler, Environment, In Progress

#290 Ensure processed queue is emptied
  netkan/netkan/indexer.py
  netkan/netkan/spacedock_adder.py
  netkan/tests/indexer.py
  netkan/tests/spacedock_adder.py
Labels: Bug, Indexer, SpaceDock Adder

#291 Teach ModAnalyzer about KSP2
  netkan/netkan/cli/common.py
  netkan/netkan/mod_analyzer.py
  netkan/netkan/sd_adder_commit_template.md
  netkan/netkan/sd_adder_pr_body_template.md
  netkan/netkan/spacedock_adder.py
Labels: Bug, Enhancement, SpaceDock Adder

#293 Log SpaceDockAdder._pr_body input on failure
  netkan/netkan/spacedock_adder.py
Labels: Bug, SpaceDock Adder

#294 Handle bad author list input from SpaceDock
  netkan/netkan/spacedock_adder.py
Labels: Bug, SpaceDock Adder

#296 Put $vref before license in SD PRs
  netkan/netkan/spacedock_adder.py
Labels: Bug, Enhancement, SpaceDock Adder

#303 Auto Freezer
  netkan/netkan/auto_freezer.py
  netkan/netkan/github_pr.py
  prod-stack.py
Labels: Bug, Auto Freezer
