Repository KSP-CKAN/NetKAN-Infra, pull requests merged in 2024-09, with the labels that each got.

#337 Omit license and dup fields from netkans, handle GH source ZIPs
  netkan/netkan/spacedock_adder.py
Labels: Enhancement, SpaceDock Adder

#339 Remove spaces from staging branch names
  netkan/netkan/indexer.py
Labels: Bug, Indexer

#340 Handle weird version strings in download counter for archive.org
  netkan/netkan/download_counter.py
  netkan/netkan/metadata.py
  netkan/netkan/mirrorer.py
Labels: Bug, Download counts

#341 Update Container + Python
  .github/workflows/coverage-build.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .vscode/extensions.json
  docker-compose.yml
  netkan/.coveragerc
  netkan/.pylintrc
  netkan/Dockerfile
  netkan/MANIFEST.in
  netkan/mypy.ini
  netkan/pyproject.toml
  netkan/pytest.ini
  netkan/setup.py
Labels: Environment
